{% extends "base_admin.html" %}

{% block head %}
    {{ super() }}
    <script src="../static/js/raphael-min.js"></script>
    <script src="../static/js/charts.min.js"></script>
    <script>
    var progress1 = new Charts.CircleProgress(
    'progress-1', 
    'Sales', 
      80,
      {
        font_color: "#fff",
        fill_color: "#222",
        label_color: "#333",
        text_shadow: "rgba(0,0,0,.4)",
        stroke_color: "#6a329e"
      });
    progress1.draw()
    </script>
{% endblock %}

{% block content %}
        <div id="page-content-wrapper" align=left>
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Admin Portal for {{course}}
                </h1>
            </div>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content">
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">Eventually this can be full of fun facts and stats 4 nerdz.</p>
                    </div>
                    <div id='chart1' style='width: 300px; height: 100px;'></div>
                </div>
            </div>
        </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</html>
