{% extends "base_admin.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/admin2.js"></script>
<script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
        $(document).ready(function($) {
                $('.table > tr').click(function() {
                    window.document.location = $(this).attr("href");
                });
                $("#admin-grader-table").tablesorter();
              });
</script>
{% endblock %}
{% block content %}
    {{super()}}
    <h2> {{student_netid}}'s Submitted Assignments</h2>
    <table id="student-assignments-table" class="table table-hover, tablesorter" style="background-color: transparent; margin-top: 15px;">
    <thead>
      <tr>
          <th class="header">
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Assignment <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header">
          	<div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Student <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header">
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Grade <span class="caret"></span>
                  </button>
              </div>
          </th>
      </tr>
      </thead>
      <tbody>
       {% for assignment in assignments %}
          <tr>
            <td><div style="height:100%;width:100%">{{assignment.name}}</div></a></td>
              <td class="netid-row"><div style="height:100%;width:100%">{{ assignment.student.netid }}</div></a></td>
              <td class="netid-row"><div style="height:100%;width:100%">{{ assignment.grade }}</div></a></td>
          </a></tr>
          {% endfor %}
     </tbody>
    </table>

{% endblock %}