<!--
 Project: codePost
 Template for Administrator Page
 Authors: Ayyala, Evans, Freling, Kubiak, Leichnitz
 Date: May 2014
 //-->

{% extends "base_admin.html" %}

{% block head %}
    {{ super() }}
    <script src="../static/js/raphael-min.js"></script>
    <script src="../static/js/charts.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="../static/js/adminstat.js"></script>
{% endblock %}

{% block content %}
        <div id="page-content-wrapper" align=left>
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Admin Portal for {{course}}
                </h1>
            </div>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content" style="margin-left: -20px; padding: 0 20px; margin-right: 10%; display: {{ areAssignments }}">
                <div class="row" style="margin-left: 0; margin-right: 10%;">
                    <div class="col-md-12">
                    </div>
                    <!-- <div id='chart1' style='width: 500px; height: 325px; margin-left: 50px;'></div> -->
                    <h4> Progress: Percent Graded </h4>
                        <div style="width: 100%; height: 250px; background-color: white; border-color: rgba(0, 0, 0, 0.1); border: 1px solid;">
                            {% for item in graph1_assignments %}
                                <div id='{{ item.name }}' style='width: 200px; height: 250px; margin-right: 25px; display: inline-block'></div>
                            {% endfor %}
                        </div>
                    <br>
                    <h4> Average Grade/Assignment </h4>
                        <div style="width: 100%; height: 300px; background-color: white; border-color: rgba(0, 0, 0, 0.1); border: 1px solid;">
                            <div id='chart6' style='width: 800px; height: 300px;'></div>
                        </div>
                    <br>
                    <h4> Grading History (past week): </h4>
                        <div style="width: 100%; height: 330px; background-color: white; border-color: rgba(0, 0, 0, 0.1); border: 1px solid; padding-top: 15px; margin-bottom: 20px;">
                            <div id='chart7' style='width: 800px; height: 300px;'></div>
                        </div>

                    <br>
                    <h4> Score distribution for: <select id="histoSelect">
                    {% for key, value in forHist.iteritems() %}
                        <option>{{ key }}</option>
                    {% endfor %}
                    </select>
                    <br>

                    <div id="histoContainer" style="width: 100%; height: 430px; background-color: white; border-color: rgba(0, 0, 0, 0); border: 1px solid; padding-top: 15px; margin-bottom: 20px; display: none">
                    {% for key, value in forHist.iteritems() %}
                        <div id="highChart{{key}}" class="histo" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    {% endfor %}
                    </div>

                </div>
            </div>
            <div class="page-content" style="display: {{notAreAssignments}};">
                <h3>Looks like you haven't added any assignments!
                <br>
                <br>
                <a href='/admin/assignments' style="color: red;">Click here</a> to get started.</h3>
            </div>
        </div>

            <script type="text/javascript">
                /* var chart = new Charts.LineChart('chart1');
                chart.add_line({
                    data: [[1, 10],[2, 12],[3, 5],[4, 13],[5, 2],[6, 1],[7, 18]]
                }) */

                {% for item in graph1_assignments %}
                    var chart{{item.num}} = new Charts.CircleProgress('{{item.name}}', '{{item.name}}', {{item.percent_graded}});
                    chart{{item.num}}.draw()
                {% endfor %}

                var chartBar = new Charts.BarChart('chart6', {
                    x_label_color: "#333333",
                    bar_width: 80,
                    show_grid: true,
                    label_max: true,
                    label_min: true
                });

                {% for item in graph2_assignments %}
                chartBar.add({
                  label: "{{item.name}}",
                  value: {{item.avg_grade}}
                });
                {% endfor %}

                chartBar.draw();

                var chart7 = new Charts.LineChart('chart7', {
                    show_grid: true,
                    label_max: true,
                    label_min: true
                });

            chart7.add_line({
              data: [[1, 7],[2, 12], [3, 12], [4, 17], [5, 22]],

              // line level options passed here
              options: {
                line_color: "#00aadd"
              }
            });

                //chart.draw();
                chart7.draw();
            </script>
            {% for key1, value1 in forHist.iteritems() %}
            <script type="text/javascript">
                var chart = new Highcharts.Chart({

                    chart: {
                        renderTo: 'highChart{{key1}}',
                        type: 'column'
                    },

                    title: {
                        text: '{{key1}}'
                    },



                    xAxis: {
                        categories: [{% for key2, value2 in value1.iteritems() %}'{{key2}}',{% endfor %}]
                    },
                    
                    plotOptions: {
                        column: {
                            groupPadding: 0,
                            pointPadding: 0,
                            borderWidth: 0
                        }
                    },

                    series: [{
                        showInLegend: false,
                        name: '# of Students:',
                        data: [{% for key2, value2 in value1.iteritems() %}{{value2}},{% endfor %}]
                    }]

                });
            </script>
            {% endfor %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</html>
