{% extends "base_admin.html" %}

{% block content %}
  {{super()}}
    <div style="margin: 5em 10%;">
  <div class="btn-custom" > <button type="button">Add an Assignment</button> </div>
    <table class="table table-hover" style="background-color: transparent; margin-top: 40px;">
      <tr>
          <th>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Assignment <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A-Z</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z-A</a></li>
                  </ul>
              </div>
          </th>
          <th> Rubric </th>
          <th> Due Date </th>
      </tr>
      <tr><td><a href="#"><div style="height:100%;width:100%">NBody</div></a></td>
          <td><a href="#"><div style="height:100%;width:100%">click here</div></a></td>
          <td><a href="#"><div style="height:100%;width:100%">April 17</div></a></td>
    </table>
{% endblock %}