<!DOCTYPE html>
<html lang="en">
{% extends "base3.html" %}
{% block head %}
  <title>CodePost: Admin</title>
  {{ super() }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block padding %}
  {{ super() }}
{% endblock %}

{% block portal %}
  <div class="pull-right"> <a class="brand" href="admin">Admin Portal: Hi, {{netid}}</a></div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <table class="table">
              <thead>
                <tr>
                  <th>COS 126</th>
                  <th>COS 226</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#">NBody</a></td>
                  <td><a href="#">8 Puzzle</a></td>
                </tr>
                <tr>
                  <td><a href="#">Atomic</a></td>
                  <td><a href="#">Kd Tree</a></td>
                </tr>
              </tbody>
            </table>

          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Welcome, {{netid}}!</h1>
            <br>
            <p>As an admin, you have the power to see any student's code from any class. </p>
          </div>

        </div><!--/span-->
      </div><!--/row-->
{% endblock %}

</html>
