{% extends "base_admin.html" %}

{% block head %}
<script type="text/javascript" src="../static/js/popup.js"></script>

<script type="text/javascript">
        $(document).ready(function(e) {
            console.log("test");
            $('#add_mult_students').hover(function() {
              $(this).tooltip();
            });
        });
</script>
    {{ super() }}
{% endblock %}

{% block content %}
    {{super()}}
    <div >
      <div id="add_buttons">
	       <a href="#" class="btn btn-large"><i class="icon-white icon-plus"></i> Add a Student</a>
	       <a href="#" id="add_mult_students" class="btn btn-large" data-toggle="tooltip" data-placement="right" title="test"><i class="icon-white icon-plus"></i> Add Students From File</a> 
      </div>
    <table class="table table-hover" style="background-color: transparent; margin-top: 15px;">
      <tr>
          <th>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Name <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A-Z</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z-A</a></li>
                  </ul>
              </div>
          </th>
          <th>
          	<div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> netid <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A-Z</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z-A</a></li>
                  </ul>
              </div>
      </tr>
              <tr><td><a href="#"><div style="height:100%;width:100%">Gabriela Leichnitz</div></a></td>
              <td><a href="#"><div style="height:100%;width:100%">gtl</div></a></td>
    </table>
    <!-- #dialog is the id of a DIV defined in the code below -->
    <a href="#dialog" name="modal">Simple Modal Window</a>

    <div id="boxes"><!-- #customize your modal window here -->

      <div id="dialog" class="window">
      <b>Testing of Modal Window</b> | 
    
      <!-- close button is defined as close class -->
      <a href="#" class="close">Close it</a>
      <!-- Do not remove div#mask, because youll need it to fill the whole screen -->  
      <div id="mask"></div>
      </div>
    </div>

{% endblock %}