<!--
 Project: codePost
 Template for Administrator -> Administrator -> Assignments Page
 Authors: Ayyala, Evans, Freling, Kubiak, Leichnitz
 Date: May 2014
 //-->

{% extends "base_admin.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/admin.js"></script>
<script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
        $(document).ready(function($) {
                $('.table > tr').click(function() {
                    window.document.location = $(this).attr("href");
                });
                $("#assignment-assignments-table").tablesorter({
                    headers: {
                    // assign the third column (we start counting zero)
                    2: {
                        // disable it by setting the property sorter to false
                        sorter: false
                    }
                  }
                });
              });
</script>
{% endblock %}
{% block content %}
    {{super()}}
    <h2> All Submitted Assignments for {{assignment_name}}</h2>
    <div style="margin-right: 10%;">
    <table id="assignment-assignments-table" class="table table-hover tablesorter" style="background-color: transparent; margin-top: 15px; margin-right: 10%">
    <thead>
      <tr>
          <th class="header">
          	<div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Student <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header">
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Grader <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header">
            <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Grade <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header" style="text-align:left;width:100px">
            Remove
          </th>
      </tr>
      </thead>
      <tbody>
       {% for assignment in assignments %}
          <tr>
              <td class="netid-row"><a href="/viewer?assignment={{ assignment.id }}*a"><div style="height:100%;width:100%">{{ assignment.student.netid }}</div></a></td>
              {% if assignment.grader %}
              <td class="netid-row"><a href="/viewer?assignment={{ assignment.id }}*a"><div style="height:100%;width:100%">{{ assignment.grader.netid }}</div></a></td>
              {% else %}
              <td class="netid-row"><a href="/viewer?assignment={{ assignment.id }}*a"><div style="height:100%;width:100%"> --- s</div></a></td>
              {% endif %}
              {% if assignment.graded %}
              <td class="netid-row"><a href="/viewer?assignment={{ assignment.id }}*a"><div style="height:100%;width:100%">{{ assignment.grade }}</div></a></td>
              {% else %}
              <td class="netid-row"><a href="/viewer?assignment={{ assignment.id }}*a"><div style="height:100%;width:100%"> --- </div></a></td>
              {% endif %}
              <td><div class="btn-group" align="center">
                  <button id="{{assignment.id}}" class="btn btn-default delete-buttons delete-buttons-1-assignment" type="button" style="height:100%;width:100%;background-color: white; color: black; clear: both"> x </span>
                  </button>
            </div></a>
            </td>
          </tr>
          {% endfor %}
     </tbody>
    </table>
  </div>

{% endblock %}