{% extends "base_admin.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/admin.js"></script>
<script type="text/javascript" src="../static/js/admin_student.js"></script>
<!--<script type="text/javascript">
  $(document).ready(function () {
      $('.btn-large').active(function () {
          $(this).css('outline','0');
          $(this).css('-webkit-box-shadow','none');
          $(this).css('box-shadow','none');
          console.log("hi")
      });
  });
</script> -->

<script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
<script>
        $(document).ready(function($)
            {
                $("#admin-student-table").tablesorter();
              });
</script>
<script>
        $(document).ready(function($)
            {
                $("#admin-student-table > tr > .netid-row").click(function() {
                  var netid= $(this).map(function() {
                    return $(this).text();
                  });
                  $.ajax({
                    url:"/admin/students/assignments",
                    context: document.body,
                    data: {netid: netid}
                  });
                )};
            });
</script>
{% endblock %}

{% block content %}
  <body id="admin_students">
    {{super()}}
    <div style="margin-right: 10%;">
      <div id="add_buttons">
	       <a href="#" class="btn btn-large"><i class="icon-white icon-plus"></i> Add a Student</a>
      </div>
      <div id="mass_upload_buttons">
         <a href="#" class="btn btn-large"><i class="icon-white icon-plus"></i> Upload Code for Multiple Students</a>
      </div>

    {{ alert|safe }}

    <table id="admin-student-table" class="table table-hover tablesorter" style="background-color: transparent; margin-top: 15px; margin-right: 10%;">
    <thead>
      <tr>
          <th class="header">
          	<div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> netid <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header" style="text-align:left">
            Upload
          </th>
          <th class="header" style="text-align:left;width:100px">
            Remove
          </th>
      </tr>
    </thead>
    <tbody>
        {% for item in students %}
              <tr>
                <td class="netid-row"><a href="{{url_for('admin_student_assignment', netid=netid, student= item.netid )}}"><div style="height:100%;width:100%">{{ item.netid }}</div></a></td>
                <td><div class="btn-group" align="center">
                    <button id="{{ item.netid }}" class="btn btn-default upload-button" type="button" style="height:100%;width:100%;background-color: white; color: black; clear: both"> Upload work </span>
                    </button>
                    </div>
                </td>
                <td><div class="btn-group" align="center">
                  <button id="{{ item.netid }}" class="btn btn-default delete-buttons delete-buttons-student" type="button" style="height:100%;width:100%;background-color: white; color: black; clear: both"> x </span>
                  </button>
                  </div></td>
              </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- #dialog is the id of a DIV defined in the code below -->
    <div id="modal-add" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add students</h4>
          </div>
        <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Manual input</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter netid">
                <br>
                <button type="button" id="manual-submit-modal-student" class="btn">Submit</button>
              </div>
              <br>
            </form>
            <form role="form" action="/_mass_upload_students" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" name="netids" id="exampleInputFile">
                <br>
                <button type="submit" id="file-submit-modal" class="btn">Upload</button>
                <p class="help-block">Make sure your file is .txt, one netid per line.</p>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <!-- #dialog is the id of a DIV defined in the code below -->
    <div id="modal-upload" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Upload files</h4>
          </div>
        <div class="modal-body">
            <form role="form" action="/_upload_student_files" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label>Upload Student Code</label>
              </div>
              <div class="form-group">
                <label>Select Assignment</label>
                  <select name="assignmentTitle" class="form-control" id="assignment-submit-select">
                  {% for item in masters %}
                    <option id="{{ item.files|length }}">{{ item.name }}</option>
                  {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                <div id="code-upload-sample">
                  <input type="text" value="" style="display: none;" name="netid" id="netid-default-field">
                  <label for="exampleInputFile">File input</label>
                  <input type=file name="file" multiple>
                  <br>
                <button type="submit" id="file-submit-modal-code" class="btn">Upload</button>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
{% endblock %}