{% extends "base_admin.html" %}

  {% block head %}
  {{ super() }}
  <script type="text/javascript" src="../static/js/admin.js"></script>
  <script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
  <script>
        $(document).ready(function($)
            {
                $("#admin-admin-table").tablesorter({
                  sortList: [[4,0], [0,0]]
                });
              });
  </script>
  {% endblock %}

{% block content %}
  {{super()}}
  <a href="#" id="add_buttons" class="btn btn-large"><i class="icon-white icon-plus"></i> Add an Assignment</a>
    <table id="admin-admin-table" class="table table-hover, tablesorter" style="background-color: transparent; margin-top: 15px;">
    <thead>
      <tr>
          <th class="header">
              <div class="btn-group" id="add-buttons">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Assignment <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both">  Files <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Graded <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header">
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both">  Total <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header">
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Due Date <span class="caret"></span>
                  </button>
              </div>
          </th>
          <th class="header" style="text-align:left">
            Remove
          </th>
      </tr>
      <tbody>
      <tr>
        {% for assignment in assignments %}
          <td><a href="#"><div style="height:100%;width:100%">{{assignment.name}}</div></a></td>
          <td><a href="#"><div style="height:100%;width:100%">{% for item in assignment.files %} {{ item.name }} <br> {% endfor %}</div></a></td>
          <td><a href="#"><div style="height:100%;width:100%">5</div></a></td>
          <td><a href="#"><div style="height:100%;width:100%">7</div></a></td>
          <td><a href="#"><div style="height:100%;width:100%">{{assignment.due_date}}</div></a></td>
          <td><div class="btn-group" align="center">
                  <button id={{assignment.name}} class="btn btn-default delete-buttons delete-buttons-assignment" type="button" style="height:100%;width:100%;background-color: white; color: black; clear: both"> x </span>
                  </button>
            </div></a>
          </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>

    <div class="modal fade" id="modal-add">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add an assignment</h4>
          </div>
        <div class="modal-body">
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Assignment Title</label>
                <input type="text" class="form-control" id="assignTitle" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Files</label>
                <input type="text" class="form-control" id="assignFiles" placeholder="Separate files with a space">
                <p class="help-block">Separate the file names with a space. Make sure they're spelled correctly!</p>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Rubric</label>
                <input type="text" class="form-control" id="assignPoints" placeholder="Separate point totals with a space">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Total Points</label>
                <input type="text" class="form-control" id="totalPoints" placeholder="Enter a number">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Due Date</label>
                <input type="date" class="form-control" id="dueDate" placeholder="Enter a number">
              </div>
              <div class="form-group">
                  <br>
                  <button type="button" id="manual-submit-modal-assignment" class="btn">Submit</button> 
              </div>                                        
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}