{% extends "base_admin.html" %}

{% block content %}
    {{super()}}
	<button type="button" style="background-color: hsl(0, 86%, 24%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d00f0f", endColorstr="#710808");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d00f0f), to(#710808));
  background-image: -moz-linear-gradient(top, #d00f0f, #710808);
  background-image: -ms-linear-gradient(top, #d00f0f, #710808);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d00f0f), color-stop(100%, #710808));
  background-image: -webkit-linear-gradient(top, #d00f0f, #710808);
  background-image: -o-linear-gradient(top, #d00f0f, #710808);
  background-image: linear-gradient(#d00f0f, #710808);
  border-color: #710808 #710808 hsl(0, 86%, 19%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;">Add a Student</button>
    <table class="table table-hover" style="background-color: transparent; margin-top: 40px;">
      <tr>
          <th>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Name <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A-Z</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z-A</a></li>
                  </ul>
              </div>
          </th>
          <th>
          	<div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> netid <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A-Z</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z-A</a></li>
                  </ul>
              </div>
      </tr>
              <tr><td><a href="#"><div style="height:100%;width:100%">Gabriela Leichnitz</div></a></td>
              <td><a href="#"><div style="height:100%;width:100%">gtl</div></a></td>
    </table>
{% endblock %}