{% extends "base_admin.html" %}

{% block head %}
    {{ super() }}
    <script src="../static/js/raphael-min.js"></script>
    <script src="../static/js/charts.min.js"></script>
{% endblock %}

{% block content %}
        <div id="page-content-wrapper" align=left>
            <div class="content-header">
                <h1>
                    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                    Admin Portal for {{course}}
                </h1>
            </div>
            </div>
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content" style="margin-left: -20px; padding: 0 20px; margin-right: 40px;">
                <div class="row" style="margin-left: 0;">
                    <div class="col-md-12">
                    </div>
                    <!-- <div id='chart1' style='width: 500px; height: 325px; margin-left: 50px;'></div> -->
                    <h4> Progress: Percent Graded </h4>
                        <div style="width: 100%; height: 250px; background-color: white; border-color: rgba(0, 0, 0, 0.1); border: 1px solid;">
                            <div id='chart2' style='width: 200px; height: 250px; margin-right: 25px; display: inline-block'></div>
                            <div id='chart3' style='width: 200px; height: 250px; margin-right: 25px; display: inline-block;'></div>
                            <div id='chart4' style='width: 200px; height: 250px; margin-right: 25px; display: inline-block;'></div>
                            <div id='chart5' style='width: 200px; height: 250px; margin-right: 25px; display: inline-block;'></div>
                        </div>
                    <br>
                    <h4> Average Grade/Assignment </h4>
                        <div style="width: 100%; height: 300px; background-color: white; border-color: rgba(0, 0, 0, 0.1); border: 1px solid;">
                            <div id='chart6' style='width: 800px; height: 300px;'></div>
                        </div>
                    <br>
                    <h4> Grading History (past week): </h4>
                        <div style="width: 100%; height: 330px; background-color: white; border-color: rgba(0, 0, 0, 0.1); border: 1px solid; padding-top: 15px; margin-bottom: 20px;">
                            <div id='chart7' style='width: 800px; height: 300px;'></div>
                        </div>
                </div>
            </div>
        </div>

            <script type="text/javascript">
                /* var chart = new Charts.LineChart('chart1');
                chart.add_line({
                    data: [[1, 10],[2, 12],[3, 5],[4, 13],[5, 2],[6, 1],[7, 18]]
                }) */

                var chart2 = new Charts.CircleProgress('chart2', {{recent_assignments[0].assignment.name}}, 100);
                var chart3 = new Charts.CircleProgress('chart3', 'Morph', 97);
                var chart4 = new Charts.CircleProgress('chart4', 'AI', 85);
                var chart5 = new Charts.CircleProgress('chart5', 'RegExp', 17);

                var chart6 = new Charts.BarChart('chart6', {
                    x_label_color: "#333333",
                    bar_width: 80,
                    show_grid: true,
                    label_max: true,
                    label_min: true
                    });

                chart6.add({
                  label: "Assignment 1",
                  value: 88.9
                });

                chart6.add({
                  label: "Assignment 2",
                  value: 94
                });

                chart6.add({
                  label: "Assignment 3",
                  value: 64.9
                });

                chart6.add({
                  label: "Assignment 4",
                  value: 78
                });

                var chart7 = new Charts.LineChart('chart7', {
                    show_grid: true,
                    label_max: true,
                    label_min: true
                });


            chart7.add_line({
              data: [[1, 7],[2, 12], [3, 12], [4, 17], [5, 22]],

              // line level options passed here
              options: {
                line_color: "#00aadd"
              }
            });

                //chart.draw();
                chart2.draw();
                chart3.draw();
                chart4.draw();
                chart5.draw();
                chart6.draw();
                chart7.draw();
            </script>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

</html>
