{% extends "base3.html" %}

{% block head %}
    <title>CodePost: Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Portal</title>

    <!-- Add custom CSS here -->
    <link href="../static/stylesheets/simple-sidebar.css" rel="stylesheet">
    {{ super() }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="box-shadow: 4px 0px 8px #888888;">
            <ul class="sidebar-nav">
                <li id="sidebar-item" class="sidebar-brand" style="color:black"><a href="/admin">Manage COS 333</a>
                </li>
                <li id="sidebar-item"><a href="/admin/students">Students</a>
                </li>
                <li id="sidebar-item"><a href="/admin/graders">Graders</a>
                </li>
                <li id="sidebar-item"><a href="/admin/assignments">Assignments</a>
                </li>
            </ul>
        </div>

        <!-- Page content -->
        {% block content %}

        {% endblock %}

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>

    
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

</html>
