{% extends "base3.html" %}

{% block head %}
    <title>CodePost: Grader</title>
    {{ super() }}
{% endblock %}

{% block body %}
<div style="margin: 8em 10%;">
    <table id="grader-table" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
        <thead>
            <tr>
                <th class="header headerSortUp">Class</th>
                <th class="header">Assignment</th>
                <th class="header">NetId</th>
                <th class="header">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in assignment %}
            <tr>
                <td> {{ item.class }} </td>
                <td> {{ item.assignment }} </td>
                <td> {{ item.netid }} </td>
                <td> {{ item.status }} </td>
            </tr>
            {% endfor %}
            <tr>
                <td> COS 126 </td>
                <td> NBody </td>
                <td> vayyala </td>
                <td> Graded </td>
            </tr>
            <tr>
                <td> COS 226 </td>
                <td> Deque </td>
                <td> rfreling </td>
                <td> Not Graded </td>
            </tr>

        </tbody>
    </table>
    <table class="table table-hover" style="background-color: transparent; margin-top: 40px;">
        <tr>
            <th>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Class <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                        {% for item in classes %}
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ item }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Assignment <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Deques and Randomized Queues</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Autocomplete</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8 Puzzle</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kd-Trees</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">WordNet</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Seam Carver</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> netID <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A-Z</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z-A</a></li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Status <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Needs Grading</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Assigned</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Graded Assignments</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Graded</a></li>
                    </ul>
                </div>
            </th>
        </tr>
        <tr>
            {% for item in assignments %}
            <td><a href="/viewer?assignment={{ item.id }}"><div style="height:100%;width:100%">{{ item.class }}</div></a></td>
            <td><a href="/viewer?assignment={{ item.id }}"><div style="height:100%;width:100%">{{ item.name }}</div></a></td>
            <td><a href="/viewer?assignment={{ item.id }}"><div style="height:100%;width:100%">{{ item.date }}</div></a></td>
            <td><a href="/viewer?assignment={{ item.id }}"><div style="height:100%;width:100%">{{ item.grade }}</div></a></td>
            {% endfor %}
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>akubiak</td>
            <td>Needs Grading</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>jaevans</td>
            <td>Needs Grading</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>gtl</td>
            <td>Assigned</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>vayyala</td>
            <td>Assigned</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>rfreling</td>
            <td>Assigned</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Kd-Tree</td>
            <td>akubiak</td>
            <td>Graded: 40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Kd-Tree</td>
            <td>jaevans</td>
            <td>Graded: 40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Kd-Tree</td>
            <td>gtl</td>
            <td>Graded: 40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Kd-Tree</td>
            <td>vayyala</td>
            <td>Graded: 40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Kd-Tree</td>
            <td>rfreling</td>
            <td>Graded: 40/40</td>
        </tr>

    </table>
</div>
{% endblock %}

<script type="text/javascript" src="/path/to/jquery-latest.js"></script>
<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script>
<script>
$(document).ready(function()
    {

    $(function() {
        $("#grader-table").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
    });

    }
);
</script>

{% block footer %}
  {{ super() }}
{% endblock %}
