{% extends "base3.html" %}

{% block head %}
    <title>CodePost: Grader</title>
    {{ super() }}
{% endblock %}

{% block body %}
<div style="margin: 8em 10%;">
    <table class="table table-hover" style="background-color: transparent; margin-top: 40px;">
        <tr>
            <th>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: black; clear: both"> COS 226 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">COS 126</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">COS 217</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">COS 226</a></li>
                    </ul>
                </div>
            </th>
            <th>Assignment</th>
            <th>netID</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>
                <a href="/viewer">COS 226</a>
            </td>
            <td>Deques and Randomized Queues</td>
            <td>akubiak</td>
            <td>40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>akubiak</td>
            <td>40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>jaevans</td>
            <td>40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>gtl</td>
            <td>40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>vayyala</td>
            <td>40/40</td>
        </tr>
        <tr>
            <td>COS 226</td>
            <td>Deques and Randomized Queues</td>
            <td>rfreling</td>
            <td>40/40</td>
        </tr>
    </table>
</div>
{% endblock %}
