<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<title>codePost: Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="../static/stylesheets/stylish-portfolio.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="http://startbootstrap.com">Start Bootstrap</a>
            </li>
            <li><a href="#top">Home</a>
            </li>
            <li><a href="#about">Login</a>
            </li>
            <li><a href="#services">The Team</a>
            </li>
            <li><a href="#portfolio">Our Features</a>
            </li>
            <li><a href="#callout">About Us</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <div class="box">
            <h1>
                <FONT FACE="TW Cen MT"><font color="black">code<font color="red">P</font>ost</FONT>
            </h1>
            <h2>
                <FONT FACE="TW Cen MT"><font color="blue"><em>Any</em> computer science department's best friend.</font></FONT>
            </h2>
            <a href="#about" class="btn btn-default btn-lg"><FONT FACE="TW Cen MT"><b>Find Out More</b></FONT></a>
            </div>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <!-- <body class="fwd"> -->
                    <!-- Main hero unit for a primary marketing message or call to action -->
                    <div class="col-md-4 text-center">
                        <img alt="" src="../static/img/students.jpg" width="250" height="160">
                        <div class="service-item">
                                <h2><font color="red">S</font>tudents</h2>
                                <h4>Students may login to submit code, review comments, and manage archives.
                                </h4>
                                </div>
                        <a href="https://fed.princeton.edu/cas/login?service=http://saltytyga.herokuapp.com/student" class="btn btn-default btn-lg"><FONT FACE="TW Cen MT">Sign In</FONT></a>
                    </div>
                    <div class="col-md-4 text-center">
                        <img alt="" src="../static/img/grader.jpg" width="250" height="160">
                        <div class="service-item">
                                <h2><font color="red">G</font>raders</h2>
                                <h4>Graders may login to check tasks, grade code, and post announcements.</h4>
                                </div>
                        <a href="https://fed.princeton.edu/cas/login?service=http://saltytyga.herokuapp.com/grader" class="btn btn-default btn-lg"><FONT FACE="TW Cen MT">Sign In</FONT></a>
                    </div>
                    <div class="col-md-4 text-center">
                        <img alt="" src="../static/img/admin.jpg" width="250" height="160">
                        <div class="service-item">
                                <h2><font color="red">A</font>dministrators</h2>
                                <h4>Administrators may login to organize classes, assign grading tasks, and override posts.</h4>
                                </div>
                        <a href="https://fed.princeton.edu/cas/login?service=http://saltytyga.herokuapp.com/admin" class="btn btn-default btn-lg"><FONT FACE="TW Cen MT">Sign In</FONT></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- /Intro -->

    <!-- Team -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>The <font color="red">T</font>eam</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1 text-center">
                    <div class="service-item">
                        <img alt="" src="../static/img/a.png" width="140" height="140">
                        <h3>Vinay <font color="red">A</font>yyala</h3>
                        <p>Database Connoisseur</p>
                        <p>Princeton '16</p>
                        <p>B.S.E, ORFE</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <img alt="" src="../static/img/e.png" width="140" height="140">
                        <h3>James <font color="red">E</font>vans</h3>
                        <p>Head Problem Solver</p>
                        <p>Princeton '16</p>
                        <p>A.B, ECON</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <img alt="" src="../static/img/f.png" width="140" height="140">
                        <h3>Richard <font color="red">F</font>reling</h3>
                        <p>Executive Editor</p>
                        <p>Princeton '16</p>
                        <p>B.S.E, COS</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <img alt="" src="../static/img/k.png" width="140" height="140">
                        <h3>Alex <font color="red">K</font>ubiak</h3>
                        <p>Design Specialist</p>
                        <p>Princeton '15</p>
                        <p>B.S.E, COS</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <img alt="" src="../static/img/l.png" width="140" height="140">
                        <h3>Gabriela <font color="red">L</font>z</h3>
                        <p>Chief Organizer</p>
                        <p>Princeton '16</p>
                        <p>B.S.E, COS</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2><font color="white"> Our <font color="red">F</font>eatures</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="../static/img/portfolio-1.jpg">
                        </a>
                        <div class="portbox"<
                            <h1>Easy Annotation and Highlighting</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="../static/img/portfolio-2.jpg">
                        </a>
                        <div class="portbox"<
                            <h3>Directly Upload Grading Scripts</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="../static/img/portfolio-3.jpg">
                        </a>
                        <div class="portbox"<
                            <h3>View All Classes</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="../static/img/portfolio-4.jpg">
                        </a>
                        <div class="portbox"<
                            <h3>Clean, Minimalist Layout</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->
    
    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1><font color="black">About <FONT FACE="TW Cen MT">code<font color="red">P</font>ost</FONT></h1>
            <div class="col-md-8 col-sm-offset-2 text-center">
                <h2><font color="black"> code<font color="red">P</font>ost is a dynamic grading service client that will allow for students to store and review coding assignments that have been commented and critiqued by graders. Along with the added convenience, code<font color="red">P</font>ost will help save <em>your</em> university thousands of pieces of paper every year.<h2>
                    <p></p>
                    <a href="#about" class="btn btn-default btn-lg"><FONT FACE="TW Cen MT"><b>Sign Up Your School</b></FONT></a>
                    </div>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>More <font color="red">B</font>uttons</h2>
                    <a href="#" class="btn btn-lg btn-default">Button 1</a>
                    <a href="#" class="btn btn-lg btn-primary">Button 2</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <font color="red">
                    <ul class="list-inline">
                        <li><i class="fa fa-facebook fa-3x"></i>
                        </li>
                        <li><i class="fa fa-twitter fa-3x"></i>
                        </li>
                        <li><i class="fa fa-dribbble fa-3x"></i>
                        </li>
                    </ul>
                    </font>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; code<font color="red">P</font>ost 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
