<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block head %}
  <title>CodePost: Home</title>
  {{ super() }}
{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
<!-- <body class="fwd"> -->
  <div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit clearfix">
 <div class="pull-left span5">
  <h1>&lt;/ <FONT FACE="TW Cen MT"> code<font color="red">P</font>ost</FONT> &gt;</h1>
  <p></p>
  <p>The Princeton Computer Science Department's best friend.</p>

 </div>
 <div class="pull-right">
    <p></p>
    <p><a class="btn btn-primary btn-large">Learn more</a></p>
 </div>
</div>
<div id="login"> {% block login %}
<div class="row">
  <div class="span4">
    <div class="thumbnail">
     <img alt="" src="../static/img/students.jpg" width="370" height="180">
     <div class="caption">
       <h5>Students</h5>
       <p>Students may login to submit code, review comments, and manage archives.</p>
       <p><a class="btn" href="https://fed.princeton.edu/cas/login?service=http://saltytyga.herokuapp.com/student">Sign In</a></p>
     </div>
    </div>
  </div>
  <div class="span4">
<div class="thumbnail">
 <img alt="" src="../static/img/grader.jpg" width="370" height="180">
 <div class="caption">
   <h5>Graders</h5>
   <p>Graders may login to check tasks, comment code, and post announcements.</p>
   <p><a class="btn" href="https://fed.princeton.edu/cas/login?service=http://saltytyga.herokuapp.com/grader">Sign In</a></p>
 </div>
</div>
  </div>
  <div class="span4">
<div class="thumbnail">
  <img alt="admin" src="../static/img/admin.jpg" width="370" height="180"></img>
 <div class="caption">
   <h5>Administrators</h5>
   <p>Administrators may login to organize classes, assign grading tasks, and override posts.</p>
   <p><a class="btn" href="https://fed.princeton.edu/cas/login?service=http://saltytyga.herokuapp.com/admin">Sign In</a></p>
 </div>
</div>
  </div></div>
  </div> 
  {% endblock login %} </div>
{% endblock content %}

{% block loader %}
  {{ super() }}
{% endblock %}
</html>
