{% extends "base3.html" %}

{% block head %}
  <title>CodePost: Student</title>
  {{ super() }}
{% endblock %}

{% block body %}
  <div style="margin: 8em 10%;"> 
    <table class="table table-hover" style="background-color: transparent; margin-top: 40px;">
      <tr>
          <th>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: black; clear: both"> Class <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">COS 126</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">COS 217</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">COS 226</a></li>
                  </ul>
              </div>
          </th>
          <th>#</th>
          <th>Assignment</th>
          <th>Date submitted</th>
          <th>Grade</th>
      </tr>
      <tr>
          <td><a href="/viewer"><div style="height:100%;width:100%">COS 226</div></a></td>
          <td><a href="/viewer">0</a></td>
          <td><a href="/viewer">Deques and Randomized Queues</a></td>
          <td><a href="/viewer">04/04/14</a></td>
          <td><a href="/viewer">40/40</a></td>
      </tr>
      <tr>
          <td><a href="/viewer">COS 226</a></td>
          <td><a href="/viewer">1</a></td>
          <td><a href="/viewer">Autocomplete</a></td>
          <td><a href="/viewer">04/04/14</a></td>
          <td><a href="/viewer">40/40</a></td>
      </tr>
      <tr>
          <td><a href="/viewer">COS 226</a></td>
          <td><a href="/viewer">2</a></td>
          <td><a href="/viewer">8 Puzzle</a></td>
          <td><a href="/viewer">04/04/14</a></td>
          <td><a href="/viewer">40/40</a></td>
      </tr>
      <tr>
          <td><a href="/viewer">COS 226</a></td>
          <td><a href="/viewer">3</a></td>
          <td><a href="/viewer">Kd-Trees</a></td>
          <td><a href="/viewer">04/04/14</a></td>
          <td><a href="/viewer">40/40</a></td>
      </tr>
      <tr>
          <td><a href="/viewer">COS 226</a></td>
          <td><a href="/viewer">4</a></td>
          <td><a href="/viewer">WordNet</a></td>
          <td><a href="/viewer">04/04/14</a></td>
          <td><a href="/viewer">40/40</a></td>
      </tr>
      <tr>
          <td><a href="/viewer">COS 226</a></td>
          <td><a href="/viewer">5</a></td>
          <td><a href="/viewer">Seam Carving</a></td>
          <td><a href="/viewer">04/04/14</a></td>
          <td><a href="/viewer">40/40</a></td>
      </tr>
    </table>
  </div>
{% endblock %}
