{% extends "base3.html" %}

{% block head %}
  <title>CodePost: Student</title>
  {{ super() }}
{% endblock %}

{% block body %}
  <div style="margin: 5em 10%;">
    <table class="table table-hover" style="background-color: transparent; margin-top: 40px;">
      <tr>
          <th>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: white; color: black; clear: both"> Class <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                      {% for item in classes %}
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ item }}</a></li>
                      {% endfor %}
                  </ul>
              </div>
          </th>
          <th>Assignment --JQuery alpha sort</th>
          <th>Date submitted --JQuery number sort</th>
          <th>Grade</th>
      </tr>

          {% for item in assignments %}
              <tr><td><a href="/viewer?assignment={{ item.id }}*s"><div style="height:100%;width:100%">{{ item.course }}</div></a></td>
              <td><a href="/viewer?assignment={{ item.id }}*s"><div style="height:100%;width:100%">{{ item.name }}</div></a></td>
              <td><a href="/viewer?assignment={{ item.id }}*s"><div style="height:100%;width:100%">{{ item.date }}</div></a></td>
              <td><a href="/viewer?assignment={{ item.id }}*s"><div style="height:100%;width:100%">{{ item.grade }}</div></a></td></tr>
          {% endfor %}
    </table>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

