<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block head %}
  <title>CodePost: Student</title>
  <script type="text/javascript" src="../static/js/shCore.js"></script>
  <script type="text/javascript" src="../static/js/shBrushJava.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/shCoreDefault.css"/>
  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  {{ super() }}
  <script type="text/javascript" src="../static/js/annotator-full.min.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/annotator.min.css"/>
  <script>
      jQuery(function ($) {
          $('#code').annotator();
      });     
  </script>  
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block padding %}
  {{ super() }}
{% endblock %}

{% block portal %}
<div class="pull-right"> <a class="brand" href="student">Student Portal: Hi, jaevans</a></div>
{% endblock %}

{% block content %}
<div class="thumbnail">
    <div align="left"><img alt="" src="../static/img/logo.png" width="200" height="50"><h1><FONT FACE="TW Cen MT">: document editor</FONT></h1>
    </div>
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <table class="table">
              <thead>
                <tr>
                  <th>Class</th>
                  <th>Assignment</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>COS 126</td>
                  <td><a href="#">NBody</a></td>
                  <td>Graded</td>
                </tr>
                <tr>
                  <td>COS 126</td>
                  <td><a href="#">Atomic</a></td>
                  <td>Graded</td>
                </tr>
                <tr>
                  <td>COS 226</td>
                  <td><a href="#">8 Puzzle</a></td>
                  <td>Graded</td>
                </tr>
                <tr>
                  <td>COS 226</td>
                  <td><a href="#">Kd Tree</a></td>
                  <td>Submitted</td>
                </tr>
              </tbody>
            </table>

          </div><!--/.well -->
        </div><!--/span-->
        <div id="code" class="span9">
	  <pre class="brush: java;">{{ studentwork }}</pre>
          <div class="hero-unit">
          </div>

        </div><!--/span-->
      </div><!--/row-->
{% endblock %}

</html>
