<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
{% extends "index.html" %}
{% block head %}
  <title>CodePost: About</title>
  {{ super() }}
{% endblock %}
{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit clearfix">
 <div class="pull-left span5">
  <h1>The Team</h1>
  <p></p>
  <p>The codepost team is made up of some of the coolest/bomb-ass kids you'll find anywhere.</p>

 </div>
</div>
               <div>
               <div>
                  <div class="thumbnail">
                   <img alt="" src="http://placehold.it/370x180">
                   <div class="caption">
                     <h5>Vinay Ayyala</h5>
                     <p>Bio</p>
                   </div>
                  </div>
                </div><br>
              <div>
                  <div class="thumbnail">
                   <img alt="" src="http://placehold.it/370x180">
                   <div class="caption">
                     <h5>James Evans</h5>
                     <p>Bio</p>
                   </div>
                  </div>
                </div><br>
             <div>
                  <div class="thumbnail">
                   <img alt="" src="http://placehold.it/370x180">
                   <div class="caption">
                     <h5>Richard Freling</h5>
                     <p>Bio</p>
                   </div>
                  </div>
                </div>
                <div>
                  <div class="thumbnail">
                   <img alt="" src="http://placehold.it/370x180">
                   <div class="caption">
                     <h5>Alex Kubiak</h5>
                     <p>Bio</p>
                   </div>
                  </div>
                </div><br>
                <div>
                  <div class="thumbnail">
                   <img alt="" src="http://placehold.it/370x180">
                   <div class="caption">
                     <h5>Gabriela Leichnitz</h5>
                     <p>Bio</p>
                   </div>
                  </div>
                </div></div>
{% endblock %}

{% block login %}
{% endblock %}

</html>