{% extends "base3.html" %}

{% block head %}
  <title>CodePost: {{ title }}</title>

  <script type="text/javascript" src="../static/js/shCore.js"></script>
  <script type="text/javascript" src="../static/js/shBrushJava.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/shCoreDefault.css"/>
  <script type="text/javascript">
    SyntaxHighlighter.defaults.toolbar = false;
    SyntaxHighlighter.all();
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/annotator-full.min.js"></script>
  <script src="../static/js/jquery.i18n.js"></script>
  <!-- Scroll panel -->
  <script src="../static/js/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="../static/js/viewer.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/annotator.min.css"/>
  <!--<link type="text/css" rel="stylesheet" href="../static/stylesheets/annotator_viewer.css">-->
  <!-- anotator plug in -->
  <script src="../static/js/view_annotator.js"></script>
  <script>
      jQuery(function ($) {
          {% for item in assignment %}
            var content = $('#{{ item.name }}').annotator();
            content.annotator('addPlugin', 'Store', {
              prefix: '/store',

              annotationData: {
                  'uri': '{{ item.name }} {{ id }}'
              },

              urls: {
                create: '/annotations/create',
                read: '/annotations/read/{{id}}/{{item.name}}',
                update: '/annotations/update/{{id}}/{{item.name}}',
                destroy: '/annotations/destroy/{{id}}/{{item.name}}/:id',
                search: '/search'
              }

            });
            content.annotator('addPlugin', 'AnnotatorViewer');
            //Annotation scroll
            $('#anotacions-uoc-panel').slimscroll({height: '100%'});
          {% endfor %}
      });
  </script>
  {{ super() }}
{% endblock %}

{% block body %}
  <div style="float: left; margin-top: 3.2em; margin-left: 6%;">
    <table class="table table-hover" style="background-color: white; margin-top: 40px; position: fixed; width: 19%;">
    <thead><tr><th>File</th><th>Grade</th></tr> </thead>
    <tbody>
      {% for item in assignment %}
        <tr id="-{{ item.name }}"><td>{{ item.name }}</td><td>{{ item.grade }}</td></tr>
      {% endfor %}
      <tr>
      </tr>
    </tbody>
    </table>
    <div class="btn-group" align="center">
                  <button id="mark_as_done" class="btn btn-default delete-buttons delete-buttons-student" type="button" style="height:100%;width:100%;background-color: white; color: black; clear: both"> Mark Grading as Done </span>
                  </button>
    </div>
  </div>
  <div id="clicker"></div>

  <div style="width: 65%; text-align: center; border-color: gray; margin-top: 6em; margin-right: 5%; border: 1px solid; float: right;" class="myClickDisabledElm" id="codearea">
    <h4 id="codeTitle"></h4>
    {% for item in assignment %}
      <div id="{{ item.name }}" class="span9" style="display: none;">
          <pre class="brush: java; quick-code: false;">{{ item.code }}</pre>
          <div class="hero-unit"></div>
      </div>
    {% endfor %}

  </div>
{% endblock %}
