{% extends "base3.html" %}

{% block head %}
  <title>CodePost: {{ assignment }}</title>

  <script type="text/javascript" src="../static/js/shCore.js"></script>
  <script type="text/javascript" src="../static/js/shBrushJava.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/shCoreDefault.css"/>
  <script type="text/javascript">SyntaxHighlighter.defaults.toolbar = false;
  SyntaxHighlighter.all();</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/annotator-full.min.js"></script>
  <script type="text/javascript" src="../static/js/viewer.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/annotator.min.css"/>
  <script>
      jQuery(function ($) {
          $('#code').annotator();
      });
  </script> 
  {{ super() }}
{% endblock %}

{% block body %}
  <div style="float: left; margin-top: 3.2em; margin-left: 6%;"> 
    <table class="table table-hover" style="background-color: white; margin-top: 40px; position: fixed; width: 19%;">
    <tr><th>File</th><th>Grade</th></tr>
    <tr><td><a href="#test.java">test.java</a></td></a><td>10/10</td></tr>
    <tr><td><a href="#test2.java">test2.java</a></td><td>20/20</td></tr>
    <tr><td><a href="#readme">readme</a></td><td>10/10</td></tr>
    <tr><td><a href="#Autograder Output">Autograder Output</a></td><td></td></tr>
    </table>
  </div>

  <div style="width: 65%; text-align: center; border-color: gray; margin-top: 6em; margin-right: 5%; border: 1px solid; float: right;">
    <h4 id="codeTitle">test.java</h4>
    <div style="height: 1px; background-color: gray;"></div>
    <div id="code1" class="span9">
          <pre id="codeLocus" class="brush: java;">{{ studentwork }}</pre>
          <div class="hero-unit"></div>
    </div>
    <div id="code2" class="span9" style="display: none;">
          <pre id="codeLocus" class="brush: java;">{{ studentwork2 }}</pre>
          <div class="hero-unit"></div>
    </div>
  </div>
{% endblock %}
