{% extends "base3.html" %}

{% block head %}
  <title>CodePost: {{ assignment }}</title>
  <meta http-equiv="refresh" content="0; url=https://fed.princeton.edu/cas/login?service=http://saltytyga.herokuapp.com/viewer" />
  <script type="text/javascript" src="../static/js/shCore.js"></script>
  <script type="text/javascript" src="../static/js/shBrushJava.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/shCoreDefault.css"/>
  <script type="text/javascript">SyntaxHighlighter.defaults.toolbar = false;
  SyntaxHighlighter.all();</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/annotator-full.min.js"></script>
  <link type="text/css" rel="stylesheet" href="../static/stylesheets/annotator.min.css"/>
  <script>
      jQuery(function ($) {
          $('#code').annotator();
      });
  </script> 
  {{ super() }}
{% endblock %}

{% block body %}
  <div style="float: left; margin-top: 3.2em; margin-left: 6%;"> 
    <table class="table table-hover" style="background-color: white; margin-top: 40px; position: fixed; width: 19%;">
    <tr><th>File</th><th>Grade</th></tr>
    <tr><td>test.java</td><td>10/10</td></tr>
    <tr><td>test2.java</td><td>20/20</td></tr>
    <tr><td>readme</td><td>10/10</td></tr>
    <tr><td>Autograder Output</td><td></td></tr>
    </table>
  </div>

  <div style="width: 65%; text-align: center; border-color: gray; margin-top: 6em; margin-right: 5%; border: 1px solid; float: right;">
    <h4>test.java</h4>
    <div style="height: 1px; background-color: gray;"></div>
    <div id="code" class="span9">
          <pre class="brush: java;">{{ studentwork }}</pre>
          <div class="hero-unit"></div>
    </div>
  </div> 
{% endblock %}
